@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --background-color: red;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
  padding: 0px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
hr {
  margin: 29px 0px;
  border-top: 1px solid #9c9a9ace;
}
p {
  margin: 0;
}
span {
  font-size: 15px;
}

.captallatter {
  text-transform: uppercase;
  font-weight: 400;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 33px;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* ........header-idea................................. */
.header-idea {
  background-color: var(--background-color);
  margin-bottom: 36px;
  position: sticky;
  top: 0;
}
.header-all-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.header-logo {
  display: flex;
  align-items: center;
  /* margin-left: 30px; */
}
.header-nav {
  display: flex;
  align-items: center;
  /* margin-right: 30px; */
}
.header-nav a,
.header-logo p {
  padding: 0 10px;
  color: #ffffffe0;
  text-decoration: none;
}
.header-logo img {
  width: 40.42px;
  height: 51px;
}
/*.................. players start................................................................................. */
.player-header {
  margin-top: 0px;
  margin-bottom: 40px;
  color: var(--background-color);
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 94px;
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}
.player-image img {
  width: 56px;
  height: 56px;
}
.player-titell > h3 {
  margin-left: 16px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
/*.................. players end................................................................................. */
.all-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 16px;
}
.single-blog {
  display: flex;
  align-items: center;
}

.single-blog-img img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}

.single-blog-title h3 {
  color: #000000;
  margin: 0 0 6px 0;
  font-size: 20px;
  font-weight: 400;
}
.single-blog-title p {
  margin: 0px;
  color: #9f9f9f;
}
.single-blog-title span {
  color: var(--background-color);
  font-size: 16px;
}

/*..........................Lates Course........................ */
.lates-course-header {
  margin-bottom: 24px;
  color: var(--background-color);
}
.all-lates-course {
  display: flex;
}
.single-course {
  margin: 0 10px;
  box-shadow: 0px 2px 3px 0px rgba(241, 239, 239, 0.705);
  border-radius: 5px;
}
.single-course-img img {
  width: 224px;
  height: 104px;
}
.single-course-title h3 {
  color: #1e1e1e;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
}
.single-course-rating {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 20px;
}
.fas-color > i {
  color: #ffc014;
  font-size: 10px;
}
.fas-color > span {
  color: #9f9f9f;
}
.clock-about {
  background-color: #ff4a4a2c;
  border-radius: 15px;
  color: #ff4a4ae8;
  padding: 3px 5px;
  font-size: 14px;
}
/* .................footer............................................... */

.footer-head {
  border-bottom: 2px solid var(--background-color);
  height: 100px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  line-height: 100px;
  margin-bottom: 50px;
}
.footer-head > h2 {
  font-weight: 700;
  font-size: 20px;
}
.footer-all {
  display: flex;
  justify-content: space-around;
  background-color: #8b868628;
  padding-bottom: 20px;
}
.fast-footer {
  margin-left: 60px;
  border-left: 2px solid var(--background-color);
  padding: 0px 20px;
}

.foot-logo {
  margin-left: 50px;
}
.foot-logo a {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: springgreen;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin-left: 10px;
}
.foot-logo a:hover {
  background-color: rgb(194, 199, 216);
}
.fab {
  color: var(--background-color);
}
.foot-new {
  margin-right: 60px;
  border-left: 2px solid var(--background-color);
  padding: 0px 20px;
}
.footer-a a {
  color: var(--background-color);
  font-size: 18px;
}

.footer-last {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid var(--background-color);
  height: 150px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.699);
  justify-content: center;
}
.footer-last ul {
  padding: 0;
}
.footer-last li,
.footer-last a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 6px;
}

/* media screen  */

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .captallatter {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
  }
  /* ...............top player.............. */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    flex-direction: column;
  }
  /* ..............top blog............... */
  .all-blog {
    grid-template-columns: repeat(1, 1fr);
  }
  .single-blog {
    flex-direction: column;
  }
  /* ...........Lates Course ..............*/
  .all-lates-course {
    flex-direction: column;
  }
  .single-course {
    margin-bottom: 20px;
  }
  /* .........footer.............. */
  .footer-all {
    /* margin-left: 30px; */
    flex-direction: column;
  }
  .fast-footer {
    margin-left: 30px;
  }
  .foot-logo {
    margin-left: 0px;
  }
  .foot-new {
    margin-left: 30px;
  }
  .foot-new {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
  .container {
    width: 100%;
    margin-right: 20px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  .player {
    justify-content: space-evenly;
  }
  .all-blog {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .single-blog {
    justify-content: space-evenly;
  }
  .all-lates-course {
    flex-direction: column;
  }
  .single-course {
    margin-bottom: 20px;
  }
  .footer-all {
    height: 180px;
    margin-left: 10px;
  }
  .foot-logo {
    margin-left: 0px;
  }
}
